*/cromwell-executions/
*/*/cromwell-executions/
*/cromwell-workflow-logs/
*/*/cromwell-workflow-logs/
GATK4-procforVariants/\.DS_Store

\.DS_Store

WDL/paired-panel-consensus-variants-human/\.Rhistory
